.DS_Store
Thumbs.db
.env
!.env.example
erpbackend/build/
erpbackend/.gradle/
erpbackend/out/
erpbackend/*.class
erpbackend/*.jar
erpbackend/*.war
erpfrontend/node_modules/
erpfrontend/dist/
erpfrontend/.vite/
.idea/
*.iml
.vscode/
erpkeycloak/import/*.json

docker-compose.override.yml
erpfrontend/.env.local
